node_modules
npm-debug.log
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.git
.gitignore
README.md
docker-compose.yml
.dockerignore
Dockerfile
.editorconfig
